#pic1,#button{
    border-radius: 50%;
    float: left;
}

h1{
    float: left;
    margin-left: 500px;
}

#editpf{
    float: inherit;
    margin-left: 30px;
    margin-top: 2rem;
    width: 150px;
}

.info{
    position: absolute;
    float: left;
    margin-left: 650px;
}

.info li{
    float: left;
    margin-right: 30px;
}

#hello{
    
    margin-top: 50px;
    margin-left: 670px;
}

.post1 .caption{
   
    position : absolute;
    top: 200px;
    width: 500px;
    height: 500px;
    padding-top: 20px;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;

    
}
.post1 li{
    float: left;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.post1 li:hover .caption{
    opacity: 1;
    transform: translateY(-200px);
}

.post1 .caption p{
    color: white;
    text-align: center; 
}

body{
    background-color: rgb(235, 235, 235);
}